#! /usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

# No separate build step:
override_dh_auto_build:

include /usr/share/dpkg/pkg-info.mk
override_dh_auto_install:
	make DESTDIR=debian/tmp PREFIX=/usr VERSION=$(DEB_VERSION_UPSTREAM) linux-dep linux-install

override_dh_auto_clean:
	-$(MAKE) linux-clean
